typeattribute vendor_init data_between_core_and_vendor_violators;

# Allow vendor_init to read files in /data/opponvitems/ and /cache/opponvitems
allow vendor_init nv_data_file:dir rw_dir_perms;
allow vendor_init proc_security:file rw_file_perms;
